<%
prinnt = function () {
    console.log("esto se imprime si desde el ejs pongo: onclick=\< %=prinnt()%  >");
}
%>
<div class="div-header">
	<img src="images/nav/goldpartner.png" alt="oracle-gold-partner-logo">
    <div id="dd9" class="language-dropdown closed" tabindex="1">
        <span id="ddCurrentLang" class="language-span">ESPAÑOL</span>
        <ul class="language dropdown">
            <li class="lang"><a href="/en" id="ddLang">ENGLISH</a></li>
        </ul>
    </div>
</div>