<div class="div-header">
	<img src="images/nav/goldpartner.png" alt="oracle-gold-partner-logo">
    <div id="dd9" class="language-dropdown closed" tabindex="1">
        <span id="ddCurrentLang" class="language-span"><%=dropDown.selected.label%></span>
        <ul class="language dropdown">
            <li class="lang"><a href="<%=dropDown.nonSelected.url%>" id="ddLang"><%=dropDown.nonSelected.label%></a></li>
        </ul>
    </div>
</div>