<div class="container row footer div-footer">
	<div class="col-sm-4">
		<div class="row footer-first">
		<div class="footer-logo-div">
			<img class="img-responsive" src="images/footer/eisys.png" alt="footer-logo"/>
		</div>
		<div class="footer-div">
			<img src="images/footer/ico-phone.png" alt="footer-ico-phone"/>
			<a href="tel:541120542801"><span class="footer-span">5411 2054 2801</span></a>
		</div>
		<div class="footer-div">
			<img src="images/footer/ico-email.png" alt="footer-ico-mail"/>
			<a href="mailto:escribinos@eisys.com.ar"><span id="footer-mail" class="footer-span">escribinos@eisys.com.ar</span></a>
		</div>
		<div class="footer-div">
			<img src="images/footer/ico-adress.png" alt="footer-ico-map"/>
			<span id="footer-address" class="footer-span">Ciudad de Buenos Aires, Argentina</span>
		</div>
	</div>
	</div>
	<div class="col-sm-8 footer-social">
		<div class="row">
			<div class="col-sm-6">
				<div id="twitter" class="hidden-xs">
					<a class="twitter-timeline" data-chrome="nofooter noscrollbar" data-theme="dark" height="300" href="https://twitter.com/franBoccalatte">Tweets by FranBoccalatte</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
				<div id="follow-twitter">
					<a class="twitter-follow-button"
					  href="https://twitter.com/franBoccalatte">
					Follow @franBoccalatte</a>
				</div>
			</div>
			<div class="col-sm-6">
				<div id="twitter" class="hidden-xs">
					<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
					<script type="IN/CompanyProfile" data-id="10894478" data-format="inline" data-related="false"></script>
				</div>
				<div id="follow-in">
					<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
					<script type="IN/FollowCompany" data-id="10894478" data-counter="top"></script>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<!--
	<div class="row foo ter footer-second">
		<div class="footer footer-social-div">
			<div class="footer-social-col"><a>
				<img id="facebook-footer" class="footer-social social link" src="images/footer/footer-facebook.png" onmouseover="this.src='images/footer/footer-facebook-over.png'" onmouseout="this.src='images/footer/footer-facebook.png'" alt="Facebook"></a>
			</div>
			<div class="footer-social-col"><a>
				<img id="twitter-footer" class="footer-social social link" src="images/footer/footer-twitter.png" onmouseover="this.src='images/footer/footer-twitter-over.png'" onmouseout="this.src='images/footer/footer-twitter.png'" alt="Twitter"></a>
			</div>
			<div class="footer-social-col"><a href="skype:live:valecardozo_4?call">
				<img class="footer-social social link" src="images/footer/footer-skype.png" onmouseover="this.src='images/footer/footer-skype-over.png'" onmouseout="this.src='images/footer/footer-skype.png'" alt="Skype"></a>
			</div>
			<div class="footer-social-col"><a>
				<img id="linkedin-footer" class="footer-social social link" src="images/footer/footer-linkedin.png" onmouseover="this.src='images/footer/footer-linkedin-over.png'" onmouseout="this.src='images/footer/footer-linkedin.png'" alt="Linkedin"></a>
			</div>
		</div>
		<div class="footer footer-space-lg"></div>
		<div class="footer qr-sm">
			<img src="images/footer/footer-qr.png" alt="qr-footer"/>
		</div>
	</div>
	<div class="row footer">
		<span class="footer-span copyright">©Copyright 2016</span>
	</div> -->
</div>