.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

div.jumbotron{
  padding-top: 10em;
}

/* NAV BAR */
a.navbar-brand{
  padding:initial;
}

a.navbar-brand img{
  padding-left: 1em;
}

nav.navbar{
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  height: 5em;
  border: none;
  margin-top: 4em;
}

div.collapse.navbar-collapse{
  padding-top: 1.5em;
  margin-bottom: 1em;
}

.navbar-default .navbar-nav>li>a{
  color:white;
}

.navbar div.container-fluid{
  padding: initial;
  margin-right: 15px;
  margin-left: 15px;
  border-bottom: 2px solid #0A3A4A;
  height: 4em
}

.m-t-7em{
  margin-top: 7em;
}

.div-header{
  background: #ACBDC6;
  height: 4em;
}

.div-footer{
  border-top: orange solid 1px;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.footer-border{
  border-right: none;
}

.footer {
  background: url("../images/footer/bk-datos.jpg") no-repeat;
  background-size: cover;
  color:white;
  padding-right: 0;
}

.footer-logo-div{
  padding:4%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.footer-div>a, .footer-div>span {
  margin: 0.5em 1em 0;
  width: 60%;
  border-bottom: 1px solid white;
  padding-bottom: 0.7em;
  font-size: initial;
}
.footer-div a span{
  font-size: 1em;
  color: white;
}
.footer-div a:hover{
  text-decoration: none;
  cursor: pointer;
}
.footer-div{
  border:0;
  display: -webkit-inline-box;
  display: flex;
  width: 100%;
  padding-left: 3%;
  margin-top: 1em;
}

#follow-twitter, #follow-in{
  margin: 1em 0;
}