@media screen and (min-width:768px){
	a.navbar-brand img {
	  	position: absolute;
    	bottom: 0;
	}

	.navbar-default .navbar-nav>.active>a{
		color: white;
    	background-color: #0A3A4A;
	}

	.navbar-default .navbar-nav>li>a{
		/*border-radius: 2em;*/
    	padding-bottom: 0.5em;
    	padding-top: 0.5em;
    	    margin: auto;
    	/*border: solid 2px #0A3A4A;*/
	}

	.navbar-nav>li {
	    margin-left: 1em;
	}

	.navbar div.container-fluid{
		height: 6em
	}

	.footer {
	  background: #c0c0c0;
	  color:white;
	}

	.footer-social{
		background: url("../images/footer/bk-social.jpg") no-repeat;  
		padding: 4em 4em 0;
    	border-left: 1px solid orange;
	}

	.div-footer{
  		border-top: orange solid 1px;
	}
}