<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>
    <div class="container m-t-7em">
	    <div class="title text-center">
	        <%= title %>
	    </div>
	</div>
</body>

</html>