<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
	<% include ../partials/page-header.ejs %>
    <% include ../partials/nav.ejs %>
    <div class="container m-t-7em">
	    <div class="title text-center">
	        <%= title %>
	        titulo
	        <div class="row">
	        	<div class="col-sm-3">menu</div>
	        	<div class="col-sm-7">
	        		<div>acerca de</div>
	        		<hr>
	        		<div class="row">
	        			<div class="col-sm-5">fotito</div>
	        			<div class="col-sm-7">firma</div>
	        		</div>
	        	</div>
	        </div>
	    </div>
	</div>
	<% include ../partials/page-footer.ejs %>
</body>

</html>