<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/page-header.ejs %>
  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Esto es un slideshow</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <div class="text-center" role="alert">
        compromiso
      </div>
      <hr class="visible-xs">
      <div class="text-center" role="alert">
        alianzas
      </div>
      
    </div>
    <div class="text-center col-sm-5">
      otros links
    </div>
   </div> <!--row-->
   <div class="text-center">servicios</div>
   <div class="text-center">productos</div>
</div>
<% include ../partials/page-footer.ejs %>
</body>
</html>
