<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
	<% include ../partials/page-header.ejs %>
    <% include ../partials/nav.ejs %>
    <div class="container m-t-7em">
	    <div class="title text-center">
	        <%= title %>
	        portada
	    </div>
	    <div class="text-center">
	    	descripcion mayus
	    </div>
	    <div class="row">
	    	<div class="col-sm-6">
	    		<div class="text-center">oracle web center</div>
	    	</div>
	    	<div class="col-sm-6">
	    		<div class="text-center">oracle document cloud</div>
	    		<div class="text-center">oracle webcenter sites</div>
	    		<div class="text-center">oracle webcenter portal</div>
	    	</div>
	    </div>
    </div>
    <% include ../partials/page-footer.ejs %>
</body>

</html>